In [ ]:
# Adding some external features like NFL points, precipitation, etc as well as additional external features

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
# ! pip install pandas

In [ ]:
pd.options.display.max_rows = None
pd.options.display.max_columns = None
plt.rc('xtick', labelsize=20)
plt.rc('axes', titlesize=20) 
plt.rc('axes', labelsize=20)

In [ ]:
def plot_bar(data, x_axis, y_axis, xlabel, ylabel):
    plt.figure(figsize=[30,20])
    plt.bar(data[x_axis], data[y_axis])
    plt.xticks([x for x in range(len(data[x_axis]))], [x for x in data[x_axis].values.tolist()], rotation=90) 
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    plt.show()

def bins(row, col, min_, max_, width, bins_=[]):
  bins = []
  if len(bins_)==0:
    bins = [[i, i+width] for i in range(min_, max_, width)]
  else:
    for i in range(len(bins_)-1):
      bins.append([bins_[i], bins_[i+1]])
  bin_brac = ""
  for bin in bins:
    if row[col]>=bin[0] and row[col]<=bin[1]:
      bin_brac = f"{bin[0]}-{bin[1]}"
  return bin_brac

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Crossroads/Cross Road Analytics Competition Dataset.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head()

,acct_id,acct_type_desc,event_name,event_date,plan_event_name,comp_name,section_name,row_name,SeatNum,price_code,PC1,Price,paid,add_datetime,class_name,status,Sales_Source,isHost,SeatType,TicketClass,Start Year,LastYear,Term,TicketType,SeatUniqueID,Season,ClubExpYear,Tenure,UniqueID,isAttended,Resold,ResalePrice,ResaleDate,isSTM
0,117948790,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,1,FR,F,111.0,Y,2021-03-31 16:08:52,OPEN,SOLD,NaN,0,GA,Manifest,NaN,NaN,NaN,Renewal,101-10-1,2021,NaN,25.0,CLT21HOU-101-10-1,Yes,NaN,NaN,NaN,NaN
1,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,10,FR,F,111.0,Y,2021-03-31 16:08:19,OPEN,SOLD,NaN,0,GA,Manifest,NaN,NaN,NaN,Renewal,101-10-10,2021,NaN,20.0,CLT21HOU-101-10-10,No,NaN,NaN,NaN,NaN
2,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,11,FR,F,111.0,Y,2021-03-31 16:08:19,OPEN,SOLD,NaN,0,GA,Manifest,NaN,NaN,NaN,Renewal,101-10-11,2021,NaN,20.0,CLT21HOU-101-10-11,No,NaN,NaN,NaN,NaN
3,1489599590,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,12,FR,F,111.0,Y,2021-03-31 16:10:20,OPEN,SOLD,NaN,0,GA,Manifest,NaN,NaN,NaN,Renewal,101-10-12,2021,NaN,4.0,CLT21HOU-101-10-12,Yes,NaN,NaN,NaN,NaN
4,115101990,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,13,FR,F,111.0,Y,2021-03-31 16:08:21,OPEN,SOLD,NaN,0,GA,Manifest,NaN,NaN,NaN,Renewal,101-10-13,2021,NaN,32.0,CLT21HOU-101-10-13,No,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(1286916, 34)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286916 entries, 0 to 1286915
Data columns (total 34 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   acct_id          1286916 non-null  object
 1   acct_type_desc   1195498 non-null  object
 2   event_name       1286916 non-null  object
 3   event_date       1286916 non-null  object
 4   plan_event_name  1007744 non-null  object
 5   comp_name        1206272 non-null  object
 6   section_name     1286916 non-null  int64
 7   row_name         1286916 non-null  object
 8   SeatNum          1286916 non-null  int64
 9   price_code       1286916 non-null  object
 10  PC1              1286916 non-null  object
 11  Price            1286916 non-null  float64
 12  paid             1132771 non-null  object
 13  add_datetime     1206272 non-null  object
 14  class_name       1286916 non-null  object
 15  status           1286916 non-null  object
 16  Sales_Source     6212 non-null     float64
 17  isHost           1286916 non-null  int64
 18  SeatType         1286916 non-null  object
 19  TicketClass      1286916 non-null  object
 20  Start Year       140591 non-null   float64
 21  LastYear         140591 non-null   float64
 22  Term             140471 non-null   float64
 23  TicketType       1286916 non-null  object
 24  SeatUniqueID     1286916 non-null  object
 25  Season           1286916 non-null  int64
 26  ClubExpYear      140591 non-null   float64
 27  Tenure           1195498 non-null  float64
 28  UniqueID         1286916 non-null  object
 29  isAttended       1286916 non-null  object
 30  Resold           146048 non-null   object
 31  ResalePrice      144925 non-null   float64
 32  ResaleDate       146048 non-null   object
 33  isSTM            386812 non-null   float64
dtypes: float64(9), int64(4), object(21)
memory usage: 333.8+ MB

1. Membership duration till game day
2. Membership left after till game day

In [ ]:
df['event_date']=df['event_date'].apply(pd.to_datetime)
df['add_datetime']=df['add_datetime'].apply(pd.to_datetime)

In [ ]:
df['no_days_prebooked'] = (df['event_date'] - df['add_datetime']) / np.timedelta64(1, 'D')

3. Pre-booking days

In [ ]:
df['Start Year']=df['Start Year'].apply(pd.to_datetime)
df['LastYear']=df['LastYear'].apply(pd.to_datetime)

In [ ]:
df['gameday_minus_start_year'] = (df['event_date'] - df['Start Year']) / np.timedelta64(1, 'D')
df['lastyear_minus_gameday'] = (df['LastYear'] - df['event_date']) / np.timedelta64(1, 'D')

4. Price Percentiles

In [ ]:
def perc_calc(row, column_name,sec_group_cut_offs):
  sg = row[column_name]
  price = row["Price"]
  grp= None

  if price<=sec_group_cut_offs[sg][0]:
    grp = "Low"
  elif (price >= sec_group_cut_offs[sg][0]) and (price < sec_group_cut_offs[sg][1]) :
    grp = "Medium"
  else:
    grp = "High"
  return grp

In [ ]:
def price_percentile(column_name,new_column_name):
  global df
  df_price_percentile= df.groupby([column_name,'event_date']).mean('Price').reset_index()
  col_cut_offs={}
  for col in df_price_percentile[column_name].unique():
    col_cut_offs[col]=[np.percentile(df_price_percentile[df_price_percentile[column_name]== col]['Price'], 33),
                                np.percentile(df_price_percentile[df_price_percentile[column_name]== col]['Price'], 66)]

  df_price_percentile[new_column_name] = np.nan
  df_price_percentile[new_column_name] = df_price_percentile.apply(lambda x: perc_calc(x,column_name,col_cut_offs),1)
  
  df=pd.merge(df,df_price_percentile[[column_name,'event_date',new_column_name]], on =[column_name,'event_date'], how='left')

In [ ]:
df['section_group']=(df['section_name']/100).apply(np.floor)
price_percentile('section_group','section_group_segment')
price_percentile('section_name','section_name_segment')
price_percentile('row_name','row_segment')
price_percentile('SeatNum','seat_segment')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
def pivot(train_data, group_cols, agg_col):
    data = train_data.groupby(group_cols).agg({agg_col: "count"}).reset_index()
    data = pd.pivot_table(data, values=agg_col, index=[group_cols[0], group_cols[1]], columns=[group_cols[2]], aggfunc=np.sum).reset_index().rename_axis(None, axis=1)
    data = data.fillna(0)
    data["count"] = data["Yes"] + data["No"]
    data["%Attended"] = 100*data["Yes"]/(data["Yes"]+data["No"])
    return data

In [ ]:
event_names_grp = pivot(df, ["event_name", "event_date", "isAttended"], "acct_id")
event_names_grp = event_names_grp.sort_values("event_date").reset_index(drop=True)
event_names_grp

   event_name event_date      ???       No      Yes    count  %Attended
0    CLT21PRE 2021-08-15      0.0  32558.0  31788.0  64346.0  49.401672
1    CLT21SEA 2021-09-12      0.0  14846.0  49500.0  64346.0  76.927859
2    CLT21LAR 2021-09-19      0.0  14326.0  50020.0  64346.0  77.735990
3    CLT21HOU 2021-10-17      0.0  18268.0  46078.0  64346.0  71.609735
4    CLT21TEN 2021-10-31      0.0  15479.0  48867.0  64346.0  75.944115
5    CLT21NYJ 2021-11-04      0.0  18108.0  46238.0  64346.0  71.858391
6    CLT21JAX 2021-11-14      0.0  15944.0  48402.0  64346.0  75.221459
7     CLT21TB 2021-11-28      0.0   7062.0  57284.0  64346.0  89.024959
8     CLT21NE 2021-12-18      0.0   6599.0  57747.0  64346.0  89.744506
9     CLT21LV 2022-01-02  64346.0      0.0      0.0      0.0        NaN
10   CLT22PR1 2022-08-20      0.0  29865.0  34481.0  64346.0  53.586859
11   CLT22PR2 2022-08-27      0.0  18546.0  45800.0  64346.0  71.177696
12    CLT22KC 2022-09-25      0.0   7920.0  56426.0  64346.0  87.691543
13   CLT22TEN 2022-10-02      0.0   8810.0  55536.0  64346.0  86.308395
14   CLT22JAX 2022-10-16      0.0  10927.0  53419.0  64346.0  83.018369
15   CLT22WAS 2022-10-30      0.0  10170.0  54176.0  64346.0  84.194822
16   CLT22PHI 2022-11-20      0.0   8272.0  56074.0  64346.0  87.144500
17   CLT22PIT 2022-11-28      0.0   8477.0  55869.0  64346.0  86.825910
18   CLT22LAC 2022-12-26      0.0  11106.0  53240.0  64346.0  82.740186
19   CLT22HOU 2023-01-08  64342.0      0.0      0.0      0.0        NaN

In [ ]:
event_names_grp['%Attended_rolling'] = event_names_grp[['%Attended']].apply(lambda x: x.expanding().mean().shift(1))
event_names_grp['prev_att%'] = event_names_grp[['%Attended']].apply(lambda x: x.shift(1))
event_names_grp.at[10,"prev_att%"] = (89.024959+89.744506)/2
event_names_grp["event_date"] = pd.to_datetime(event_names_grp["event_date"])
event_names_grp

,event_name,event_date,???,No,Yes,count,%Attended,%Attended_rolling,prev_att%
0,CLT21PRE,2021-08-15,0.0,32558.0,31788.0,64346.0,49.401672,NaN,NaN
1,CLT21SEA,2021-09-12,0.0,14846.0,49500.0,64346.0,76.927859,49.401672,49.401672
2,CLT21LAR,2021-09-19,0.0,14326.0,50020.0,64346.0,77.735990,63.164765,76.927859
3,CLT21HOU,2021-10-17,0.0,18268.0,46078.0,64346.0,71.609735,68.021840,77.735990
4,CLT21TEN,2021-10-31,0.0,15479.0,48867.0,64346.0,75.944115,68.918814,71.609735
5,CLT21NYJ,2021-11-04,0.0,18108.0,46238.0,64346.0,71.858391,70.323874,75.944115
6,CLT21JAX,2021-11-14,0.0,15944.0,48402.0,64346.0,75.221459,70.579627,71.858391
7,CLT21TB,2021-11-28,0.0,7062.0,57284.0,64346.0,89.024959,71.242746,75.221459
8,CLT21NE,2021-12-18,0.0,6599.0,57747.0,64346.0,89.744506,73.465522,89.024959
9,CLT21LV,2022-01-02,64346.0,0.0,0.0,0.0,NaN,75.274298,89.744506
10,CLT22PR1,2022-08-20,0.0,29865.0,34481.0,64346.0,53.586859,75.274298,89.384732
11,CLT22PR2,2022-08-27,0.0,18546.0,45800.0,64346.0,71.177696,73.105554,53.586859
12,CLT22KC,2022-09-25,0.0,7920.0,56426.0,64346.0,87.691543,72.930294,71.177696
13,CLT22TEN,2022-10-02,0.0,8810.0,55536.0,64346.0,86.308395,74.160398,87.691543
14,CLT22JAX,2022-10-16,0.0,10927.0,53419.0,64346.0,83.018369,75.094860,86.308395
15,CLT22WAS,2022-10-30,0.0,10170.0,54176.0,64346.0,84.194822,75.660825,83.018369
16,CLT22PHI,2022-11-20,0.0,8272.0,56074.0,64346.0,87.144500,76.229758,84.194822
17,CLT22PIT,2022-11-28,0.0,8477.0,55869.0,64346.0,86.825910,76.911929,87.144500
18,CLT22LAC,2022-12-26,0.0,11106.0,53240.0,64346.0,82.740186,77.495105,86.825910
19,CLT22HOU,2023-01-08,64342.0,0.0,0.0,0.0,NaN,77.786498,82.740186

In [ ]:
def get_day(row):
  return row["event_date"].day_name()

# event_names_grp["day_of_week"] = event_names_grp.apply(lambda x: get_day(x), 1)

In [ ]:
event_names_grp

,event_name,event_date,???,No,Yes,count,%Attended,%Attended_rolling,prev_att%
0,CLT21PRE,2021-08-15,0.0,32558.0,31788.0,64346.0,49.401672,NaN,NaN
1,CLT21SEA,2021-09-12,0.0,14846.0,49500.0,64346.0,76.927859,49.401672,49.401672
2,CLT21LAR,2021-09-19,0.0,14326.0,50020.0,64346.0,77.735990,63.164765,76.927859
3,CLT21HOU,2021-10-17,0.0,18268.0,46078.0,64346.0,71.609735,68.021840,77.735990
4,CLT21TEN,2021-10-31,0.0,15479.0,48867.0,64346.0,75.944115,68.918814,71.609735
5,CLT21NYJ,2021-11-04,0.0,18108.0,46238.0,64346.0,71.858391,70.323874,75.944115
6,CLT21JAX,2021-11-14,0.0,15944.0,48402.0,64346.0,75.221459,70.579627,71.858391
7,CLT21TB,2021-11-28,0.0,7062.0,57284.0,64346.0,89.024959,71.242746,75.221459
8,CLT21NE,2021-12-18,0.0,6599.0,57747.0,64346.0,89.744506,73.465522,89.024959
9,CLT21LV,2022-01-02,64346.0,0.0,0.0,0.0,NaN,75.274298,89.744506
10,CLT22PR1,2022-08-20,0.0,29865.0,34481.0,64346.0,53.586859,75.274298,89.384732
11,CLT22PR2,2022-08-27,0.0,18546.0,45800.0,64346.0,71.177696,73.105554,53.586859
12,CLT22KC,2022-09-25,0.0,7920.0,56426.0,64346.0,87.691543,72.930294,71.177696
13,CLT22TEN,2022-10-02,0.0,8810.0,55536.0,64346.0,86.308395,74.160398,87.691543
14,CLT22JAX,2022-10-16,0.0,10927.0,53419.0,64346.0,83.018369,75.094860,86.308395
15,CLT22WAS,2022-10-30,0.0,10170.0,54176.0,64346.0,84.194822,75.660825,83.018369
16,CLT22PHI,2022-11-20,0.0,8272.0,56074.0,64346.0,87.144500,76.229758,84.194822
17,CLT22PIT,2022-11-28,0.0,8477.0,55869.0,64346.0,86.825910,76.911929,87.144500
18,CLT22LAC,2022-12-26,0.0,11106.0,53240.0,64346.0,82.740186,77.495105,86.825910
19,CLT22HOU,2023-01-08,64342.0,0.0,0.0,0.0,NaN,77.786498,82.740186

In [ ]:
df = df.merge(event_names_grp, on="event_name", how="left")

In [ ]:
df.shape

(1286916, 50)



```
# This is formatted as code
```

Yamini - nfl

In [ ]:
# !pip install nfl_data_py

In [ ]:
import nfl_data_py as nfl
years =[]
for i in range(2021,2023):
    years.append(i)
nf = nfl.import_schedules(years)
nf1 = nf[(nf['home_team']=='IND') | (nf['away_team']=='IND')]

In [ ]:
def strip_col(row, col):
  return row[col].strip()

In [ ]:
import pandas as pd
ext = pd.read_csv('/content/drive/MyDrive/Crossroads/Code/nfl_colts.csv')
ext = ext.drop(["event_date"], 1)
ext["event_name"] = ext.apply(lambda x: strip_col(x, "event_name"), 1)
ext

<ipython-input-32-11f766ca03f3>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ext = ext.drop(["event_date"], 1)

,event_name,Game_Type,Week,week_day,Game Time,Home Points,Away Points,unemployment_rate
0,CLT21PRE,Pre-Season,W1,Sunday,13:00,0,0,3.1
1,CLT21SEA,Reg,W1,Sunday,13:00,0,0,2.8
2,CLT21LAR,Reg,W2,Sunday,13:00,16,34,2.8
3,CLT21HOU,Reg,W6,Sunday,13:00,108,89,2.5
4,CLT21TEN,Reg,W8,Sunday,13:00,169,193,2.5
5,CLT21NYJ,Reg,W9,Thursday,20:20,200,114,2.1
6,CLT21JAX,Reg,W10,Sunday,13:00,245,132,2.1
7,CLT21TB,Reg,W12,Sunday,13:00,309,309,2.1
8,CLT21NE,Reg,W15,Saturday,20:20,371,350,1.4
9,CLT21LV,Reg,W17,Sunday,13:00,420,316,2.2
10,CLT22PR1,Pre-Season,W2,Saturday,13:00,0,0,2.8
11,CLT22PR2,Pre-Season,W3,Saturday,21:30,0,0,2.8
12,CLT22KC,Reg,W3,Sunday,13:00,20,71,2.1
13,CLT22TEN,Reg,W4,Sunday,13:00,40,51,2.6
14,CLT22JAX,Reg,W6,Thursday,20:15,69,111,2.6
15,CLT22WAS,Reg,W8,Sunday,16:25,113,125,2.6
16,CLT22PHI,Reg,W11,Sunday,13:00,157,246,2.6
17,CLT22PIT,Reg,W12,Monday,20:15,173,170,2.6
18,CLT22LAC,Reg,W16,Monday,20:15,245,312,2.6
19,CLT22HOU,Reg,W18,Sunday,13:00,258,257,2.6

In [ ]:
# ext["event_date"] = pd.to_datetime(ext["event_date"])
df2 = df.merge(ext, on='event_name', how ='left')
df2.head()

,acct_id,acct_type_desc,event_name,event_date_x,plan_event_name,comp_name,section_name,row_name,SeatNum,price_code,PC1,Price,paid,add_datetime,class_name,status,Sales_Source,isHost,SeatType,TicketClass,Start Year,LastYear,Term,TicketType,SeatUniqueID,Season,ClubExpYear,Tenure,UniqueID,isAttended,Resold,ResalePrice,ResaleDate,isSTM,no_days_prebooked,gameday_minus_start_year,lastyear_minus_gameday,section_group,section_group_segment,section_name_segment,row_segment,seat_segment,event_date_y,???,No,Yes,count,%Attended,%Attended_rolling,prev_att%,Game_Type,Week,week_day,Game Time,Home Points,Away Points,unemployment_rate
0,117948790,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,1,FR,F,111.0,Y,2021-03-31 16:08:52,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-1,2021,NaN,25.0,CLT21HOU-101-10-1,Yes,NaN,NaN,NaN,NaN,199.327176,NaN,NaN,1.0,Low,Low,Low,Low,2021-10-17,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
1,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,10,FR,F,111.0,Y,2021-03-31 16:08:19,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-10,2021,NaN,20.0,CLT21HOU-101-10-10,No,NaN,NaN,NaN,NaN,199.327558,NaN,NaN,1.0,Low,Low,Low,Low,2021-10-17,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
2,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,11,FR,F,111.0,Y,2021-03-31 16:08:19,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-11,2021,NaN,20.0,CLT21HOU-101-10-11,No,NaN,NaN,NaN,NaN,199.327558,NaN,NaN,1.0,Low,Low,Low,Low,2021-10-17,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
3,1489599590,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,12,FR,F,111.0,Y,2021-03-31 16:10:20,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-12,2021,NaN,4.0,CLT21HOU-101-10-12,Yes,NaN,NaN,NaN,NaN,199.326157,NaN,NaN,1.0,Low,Low,Low,Low,2021-10-17,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
4,115101990,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,13,FR,F,111.0,Y,2021-03-31 16:08:21,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-13,2021,NaN,32.0,CLT21HOU-101-10-13,No,NaN,NaN,NaN,NaN,199.327535,NaN,NaN,1.0,Low,Low,Low,Low,2021-10-17,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5

In [ ]:
df2 = df2.drop(['event_date_y'],axis=1)
df2 = df2.rename(columns={'event_date_x': 'event_date'})
df2.head()

,acct_id,acct_type_desc,event_name,event_date,plan_event_name,comp_name,section_name,row_name,SeatNum,price_code,PC1,Price,paid,add_datetime,class_name,status,Sales_Source,isHost,SeatType,TicketClass,Start Year,LastYear,Term,TicketType,SeatUniqueID,Season,ClubExpYear,Tenure,UniqueID,isAttended,Resold,ResalePrice,ResaleDate,isSTM,no_days_prebooked,gameday_minus_start_year,lastyear_minus_gameday,section_group,section_group_segment,section_name_segment,row_segment,seat_segment,???,No,Yes,count,%Attended,%Attended_rolling,prev_att%,Game_Type,Week,week_day,Game Time,Home Points,Away Points,unemployment_rate
0,117948790,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,1,FR,F,111.0,Y,2021-03-31 16:08:52,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-1,2021,NaN,25.0,CLT21HOU-101-10-1,Yes,NaN,NaN,NaN,NaN,199.327176,NaN,NaN,1.0,Low,Low,Low,Low,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
1,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,10,FR,F,111.0,Y,2021-03-31 16:08:19,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-10,2021,NaN,20.0,CLT21HOU-101-10-10,No,NaN,NaN,NaN,NaN,199.327558,NaN,NaN,1.0,Low,Low,Low,Low,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
2,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,11,FR,F,111.0,Y,2021-03-31 16:08:19,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-11,2021,NaN,20.0,CLT21HOU-101-10-11,No,NaN,NaN,NaN,NaN,199.327558,NaN,NaN,1.0,Low,Low,Low,Low,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
3,1489599590,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,12,FR,F,111.0,Y,2021-03-31 16:10:20,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-12,2021,NaN,4.0,CLT21HOU-101-10-12,Yes,NaN,NaN,NaN,NaN,199.326157,NaN,NaN,1.0,Low,Low,Low,Low,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
4,115101990,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,13,FR,F,111.0,Y,2021-03-31 16:08:21,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-13,2021,NaN,32.0,CLT21HOU-101-10-13,No,NaN,NaN,NaN,NaN,199.327535,NaN,NaN,1.0,Low,Low,Low,Low,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5

In [ ]:
df2.shape

(1286916, 56)

In [ ]:
df2.head()

,acct_id,acct_type_desc,event_name,event_date,plan_event_name,comp_name,section_name,row_name,SeatNum,price_code,PC1,Price,paid,add_datetime,class_name,status,Sales_Source,isHost,SeatType,TicketClass,Start Year,LastYear,Term,TicketType,SeatUniqueID,Season,ClubExpYear,Tenure,UniqueID,isAttended,Resold,ResalePrice,ResaleDate,isSTM,no_days_prebooked,gameday_minus_start_year,lastyear_minus_gameday,section_group,section_group_segment,section_name_segment,row_segment,seat_segment,???,No,Yes,count,%Attended,%Attended_rolling,prev_att%,Game_Type,Week,week_day,Game Time,Home Points,Away Points,unemployment_rate
0,117948790,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,1,FR,F,111.0,Y,2021-03-31 16:08:52,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-1,2021,NaN,25.0,CLT21HOU-101-10-1,Yes,NaN,NaN,NaN,NaN,199.327176,NaN,NaN,1.0,Low,Low,Low,Low,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
1,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,10,FR,F,111.0,Y,2021-03-31 16:08:19,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-10,2021,NaN,20.0,CLT21HOU-101-10-10,No,NaN,NaN,NaN,NaN,199.327558,NaN,NaN,1.0,Low,Low,Low,Low,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
2,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,11,FR,F,111.0,Y,2021-03-31 16:08:19,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-11,2021,NaN,20.0,CLT21HOU-101-10-11,No,NaN,NaN,NaN,NaN,199.327558,NaN,NaN,1.0,Low,Low,Low,Low,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
3,1489599590,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,12,FR,F,111.0,Y,2021-03-31 16:10:20,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-12,2021,NaN,4.0,CLT21HOU-101-10-12,Yes,NaN,NaN,NaN,NaN,199.326157,NaN,NaN,1.0,Low,Low,Low,Low,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5
4,115101990,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,13,FR,F,111.0,Y,2021-03-31 16:08:21,OPEN,SOLD,NaN,0,GA,Manifest,NaT,NaT,NaN,Renewal,101-10-13,2021,NaN,32.0,CLT21HOU-101-10-13,No,NaN,NaN,NaN,NaN,199.327535,NaN,NaN,1.0,Low,Low,Low,Low,0.0,18268.0,46078.0,64346.0,71.609735,68.02184,77.73599,Reg,W6,Sunday,13:00,108,89,2.5

In [ ]:
df2.to_csv('/content/drive/MyDrive/Crossroads/engg_data/External_and_additional_features.csv', index=False)